<script setup lang="ts">
import { computed } from "vue";

const props = defineProps<{
  color?: "primary" | "cancel" | "delete" | "menu";
  isDisabled?: boolean;
}>();

const colors = new Map([
  ["primary", "bg-indigo-100 text-indigo-900"],
  ["cancel", "bg-gray-100 text-gray-900"],
  ["delete", "bg-red-100 text-red-900"],
  ["menu", "bg-slate-700 text-white"],
]);

const hoverColors = new Map([
  ["primary", "hover:bg-indigo-200 focus-visible:ring-indigo-500"],
  ["cancel", "hover:bg-gray-200 focus-visible:ring-gray-500"],
  ["delete", "hover:bg-red-200 focus-visible:ring-red-500"],
  ["menu", "hover:bg-slate-600 focus-visible:ring-slate-700"],
]);

const color = computed(() => {
  if (props.color) {
    return colors.get(props.color);
  }
  return colors.get("primary");
});

const hoverColor = computed(() => {
  if (props.isDisabled) {
    return "opacity-70";
  }
  if (props.color) {
    return hoverColors.get(props.color);
  }
  return hoverColors.get("primary");
});
</script>

<template>
  <button
    type="button"
    class="inline-flex justify-center items-center rounded-md border border-transparent px-4 py-2 text-sm font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
    :disabled="props.isDisabled"
    :class="[color, hoverColor]"
  >
    <slot></slot>
  </button>
</template>
