<script lang="ts" setup>
import {
  Listbox,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
} from "@headlessui/vue";

type SelectableValue = string | number;
interface SelectableOption {
  value: SelectableValue;
  label: string;
}

const props = defineProps<{
  options: SelectableValue[] | SelectableOption[];
}>();

const { modelValue } = defineModels<{
  modelValue: SelectableValue;
}>();

const getLabel = (value: SelectableValue | SelectableOption) =>
  typeof value === "string" || typeof value === "number" ? value : value?.label;
const getValue = (value: SelectableValue | SelectableOption) =>
  typeof value === "string" || typeof value === "number" ? value : value?.value;
</script>

<template>
  <Listbox v-model="modelValue">
    <div class="relative mt-1">
      <ListboxButton
        class="relative w-full cursor-default rounded-lg bg-white @dark:bg-slate-800 py-2 pl-3 pr-10 text-left shadow-md focus:outline-none focus-visible:border-indigo-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-blue-300 sm:text-sm"
      >
        <span class="block truncate">{{ getLabel(modelValue) }}</span>
        <span
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
        >
          <div
            class="i-fa6-solid-chevron-down h-5 w-5 text-gray-400"
            aria-hidden="true"
          />
        </span>
      </ListboxButton>

      <transition
        leave-active-class="transition duration-100 ease-in"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <ListboxOptions
          class="absolute z-1 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white @dark:bg-slate-700 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm @dark:ring-slate-600"
        >
          <ListboxOption
            v-slot="{ active, selected }"
            v-for="option in props.options"
            :key="getValue(option)"
            :value="option"
            as="template"
          >
            <li
              :class="[
                active
                  ? 'bg-indigo-100 text-indigo-900'
                  : 'text-gray-900 @dark:text-white',
                'relative cursor-default select-none py-2 pl-10 pr-4',
              ]"
            >
              <span
                :class="[
                  selected ? 'font-medium' : 'font-normal',
                  'block truncate',
                ]"
                >{{ getLabel(option) }}</span
              >
              <span
                v-if="selected"
                class="absolute inset-y-0 left-0 flex items-center pl-3 text-indigo-600"
              >
                <div class="i-fa6-solid-check h-5 w-5" aria-hidden="true" />
              </span>
            </li>
          </ListboxOption>
        </ListboxOptions>
      </transition>
    </div>
  </Listbox>
</template>
