<script setup lang="ts">
import { computed } from "vue";

interface Props {
  checked?: boolean;
  indeterminate?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  checked: false,
  indeterminate: false,
});

const emits = defineEmits(["change"]);

const icon = computed(() => {
  if (props.indeterminate) {
    return "i-fa6-solid-square-minus";
  }
  if (props.checked) {
    return "i-fa6-solid-square-check";
  }
  return "i-fa6-solid-square-xmark";
});

const color = computed(() => {
  if (props.indeterminate) {
    return "text-indigo-400";
  }
  if (props.checked) {
    return "text-indigo-500";
  }
  return "hover:text-indigo-300";
});
</script>

<template>
  <div
    class="transition"
    :class="[icon, color]"
    role="checkbox"
    @click="emits('change')"
  ></div>
</template>
