<script setup lang="ts" generic="T">
import { computed, ref } from "vue";

import TextInput from "@components/inputs/TextInput.vue";

import type { Column, Table } from "@tanstack/vue-table";

const props = defineProps<{
  column: Column<T>;
  table: Table<T>;
}>();

const emits = defineEmits<{
  filter: [value: string];
}>();

const localValue = ref("");

const firstValue = computed(() =>
  props.table.getPreFilteredRowModel().flatRows[0]?.getValue(props.column.id)
);

const facetedUniqueValues = computed(() =>
  props.column.getFacetedUniqueValues()
);
const sortedUniqueValues = computed(() =>
  typeof firstValue.value === "number"
    ? []
    : Array.from(facetedUniqueValues.value.keys()).sort()
);

const filterValue = computed({
  get: () => localValue.value,
  set: (value: string) => {
    localValue.value = value;
    emits("filter", value);
  },
});

const placeholder = computed(
  () => `Search... (${facetedUniqueValues.value.size})`
);
const listId = computed(() => `${props.column.id}-list`);
</script>

<template>
  <TextInput
    theme="table"
    v-model="filterValue"
    :placeholder="placeholder"
    :list="listId"
  ></TextInput>
  <datalist :id="listId">
    <option
      v-for="(opt, index) in sortedUniqueValues"
      :key="index"
      :value="opt"
    ></option>
  </datalist>
</template>
