<script lang="ts" setup>
import { ref } from "vue";
import TextInput from "@components/inputs/TextInput.vue";

const props = defineProps<{
  placeholder: string;
  initialValue: unknown;
}>();

const emits = defineEmits<{
  updated: [value: string];
}>();

const value = ref<string>(String(props.initialValue));

const update = () => {
  if (props.initialValue !== value.value) {
    emits("updated", value.value);
  }
};
</script>

<template>
  <TextInput
    theme="table"
    v-model="value"
    @blur="update"
    :placeholder="placeholder"
  />
</template>
