<script lang="ts" setup>
import { useDebounceFn } from "@vueuse/core";
import { computed } from "vue";

type InputThemes = "default" | "table";

const props = withDefaults(
  defineProps<{
    placeholder?: string;
    type?: "text" | "date";
    list?: string;
    theme?: InputThemes;
  }>(),
  {
    type: "text",
    theme: "default",
  }
);

const { modelValue } = defineModels<{ modelValue: string }>();

const update = useDebounceFn((e: Event) => {
  const target = e.target as HTMLInputElement;
  modelValue.value = target.value;
}, 250);

const themeMap = new Map<InputThemes, string>([
  [
    "default",
    [
      "border-0 ring-1 ring-inset",
      "text-gray-900 ring-gray-300 placeholder:text-gray-400 ",
      "focus:ring-2 focus:ring-inset focus:ring-indigo-600",
      "@dark:bg-dark-500 @dark:ring-gray-500 @dark:placeholder:text-gray-600 @dark:text-gray-400 @dark:border-gray-600",
    ].join(" "),
  ],
  [
    "table",
    [
      "border",
      "bg-white border-slate-300 placeholder-slate-400",
      "focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1",
      "@dark:bg-slate-800 @dark:text-slate-400 @dark:border-slate-600 @dark:placeholder-slate-500",
    ].join(" "),
  ],
]);

const themeClass = computed(() => themeMap.get(props.theme));
</script>

<template>
  <input
    :type="props.type"
    class="block w-full rounded-md py-1.5 px-3 shadow-sm sm:text-sm sm:leading-6"
    :class="themeClass"
    :value="modelValue"
    :aria-label="props.placeholder"
    :placeholder="props.placeholder"
    :list="list"
    @input="update"
  />
</template>
