<script setup lang="ts" generic="T">
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import CustomButton from "@components/inputs/CustomButton.vue";

const props = defineProps<{
  items: T[];
  open?: boolean;
  static?: boolean;
}>();

const emits = defineEmits<{
  activated: [item: T];
}>();

defineSlots<{
  "menu-icon": (props: {}) => any;
  "menu-item": (props: { item: T; active: boolean }) => any;
}>();
</script>

<template>
  <Menu as="article" class="relative text-left">
    <MenuButton class="block h-full" as="article">
      <CustomButton color="menu" class="h-full" title="menu">
        <slot name="menu-icon">
          <div
            class="i-fa6-solid-ellipsis-vertical text-indigo-200 hover:text-indigo-100"
          ></div>
        </slot>
      </CustomButton>
    </MenuButton>
    <transition
      enter-active-class="transition duration-100 ease-out"
      enter-from-class="transform scale-95 opacity-0"
      enter-to-class="transform scale-100 opacity-100"
      leave-active-class="transition duration-75 ease-in"
      leave-from-class="transform scale-100 opacity-100"
      leave-to-class="transform scale-95 opacity-0"
    >
      <MenuItems
        class="absolute z-1 right-0 mt-2 w-56 origin-top-right divide-y divide-slate-40 rounded-md bg-slate-50 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none @dark:bg-slate-700 @dark:divide-slate-600"
        v-show="props.open ?? true"
        :static="props.static"
      >
        <MenuItem
          v-for="(item, index) in props.items"
          :key="index"
          v-slot="{ active }"
          @click="emits('activated', item)"
        >
          <slot name="menu-item" :item="item" :active="active">
            <button
              :class="[
                active
                  ? 'bg-indigo-500 text-white'
                  : 'text-slate-400 @dark:text-slate-200',
                'group flex w-full items-center rounded-md px-2 py-2 text-sm',
              ]"
            >
              {{ item }}
            </button>
          </slot>
        </MenuItem>
      </MenuItems>
    </transition>
  </Menu>
</template>
