<script lang="ts" setup generic="T extends { _id: string }">
import type { ListProps } from "@/types";

const props = withDefaults(defineProps<ListProps<T>>(), {
  emptyText: "No Items...",
});

defineSlots<{
  "grid-item": (props: { item: T }) => any;
}>();
</script>

<template>
  <section
    role="list"
    class="grid grid-cols-[repeat(auto-fit,minmax(22rem,1fr))] gap-6"
  >
    <article
      class="opacity-50 font-medium py-3"
      v-if="props.items.length === 0"
    >
      {{ props.emptyText }}
    </article>
    <template v-else>
      <article
        role="listitem"
        class="border rounded border-gray-300 @dark:border-slate-600"
        v-for="item in props.items"
        :key="item._id"
      >
        <slot name="grid-item" :item="item" />
      </article>
    </template>
  </section>
</template>
