<script lang="ts" setup generic="T extends { _id: string }">
import type { ListProps } from "@/types";

const props = withDefaults(defineProps<ListProps<T>>(), {
  emptyText: "No Items...",
});

defineSlots<{
  "list-item": (props: { item: T }) => any;
}>();
</script>

<template>
  <ul
    role="list"
    class="divide-y divide-gray-300 @dark:divide-slate-600 w-full max-w-200"
  >
    <li class="opacity-50 font-medium py-3" v-if="props.items.length === 0">
      {{ props.emptyText }}
    </li>
    <template v-else>
      <li v-for="item in props.items" :key="item._id">
        <slot name="list-item" :item="item" />
      </li>
    </template>
  </ul>
</template>
