<script setup lang="ts">
import {
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
  TransitionRoot,
  TransitionChild,
} from "@headlessui/vue";

const props = defineProps<{
  isOpen: boolean;
}>();

const emits = defineEmits(["close"]);
</script>

<template>
  <TransitionRoot appear :show="props.isOpen" as="template">
    <Dialog as="div" class="relative z-10" @close="emits('close')">
      <TransitionChild
        as="template"
        enter="duration-300 ease-out"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="duration-200 ease-in"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-black bg-opacity-25" />
      </TransitionChild>
      <div class="fixed inset-0 overflow-y-auto">
        <div
          class="flex min-h-full items-center justify-center p-4 text-center"
        >
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <DialogPanel
              class="w-full max-w-md transform rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all @dark:bg-dark-600"
            >
              <DialogTitle
                as="h3"
                class="text-lg font-medium leading-6 text-gray-900 @dark:text-gray-500"
              >
                <slot name="dialog-title" />
              </DialogTitle>
              <DialogDescription
                class="mt-2 text-sm text-gray-500 @dark:text-gray-100"
              >
                <slot name="dialog-description" />
              </DialogDescription>

              <div class="mt-4 flex flex-col gap-3">
                <slot name="dialog-body" />
              </div>

              <div class="mt-4 flex gap-3">
                <slot name="dialog-buttons" />
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>
