<script lang="ts" setup>
const props = defineProps<{
  title: string;
  subtitle: string;
  description?: string;
  additionalInfo?: string[];
  showDelete?: boolean;
  showEdit?: boolean;
  showShow?: boolean;
}>();

const emits = defineEmits(["delete", "edit", "show"]);
</script>

<template>
  <article class="flex justify-between gap-x-6 px-3 py-5 capitalize">
    <section class="flex gap-x-4">
      <div class="flex flex-col gap-2">
        <slot name="card-image"></slot>
      </div>
      <div class="min-w-0 flex-auto">
        <p
          class="text-sm font-semibold leading-6 text-gray-900 @dark:text-gray-500"
        >
          {{ props.title }}
        </p>
        <p
          class="mt-1 truncate text-xs leading-5 text-gray-500 @dark:text-gray-100"
        >
          {{ props.subtitle }}
        </p>
      </div>
    </section>
    <section class="flex flex-col items-end">
      <div
        class="flex gap-2"
        v-if="props.showDelete || props.showEdit || props.showShow"
      >
        <div
          class="i-fa6-solid-trash-can cursor-pointer"
          v-if="props.showDelete"
          @click="emits('delete')"
        ></div>
        <div
          class="i-fa6-solid-pencil cursor-pointer"
          v-if="props.showEdit"
          @click="emits('edit')"
        ></div>
        <div
          class="i-fa6-solid-eye cursor-pointer"
          v-if="props.showShow"
          @click="emits('show')"
        ></div>
      </div>
      <p
        class="text-sm leading-6 text-gray-900 @dark:text-gray-500"
        v-if="props.description"
      >
        {{ props.description }}
      </p>
      <p
        class="mt-1 text-xs leading-5 text-gray-500 @dark:text-gray-100"
        v-for="info in props.additionalInfo"
        :key="info"
      >
        {{ info }}
      </p>
    </section>
  </article>
</template>
