<template>
  <article class="flex justify-between gap-3">
    <section class="flex items-center gap-3">
      <slot name="left-area"></slot>
    </section>
    <section class="flex items-center gap-3">
      <slot name="center-area"></slot>
    </section>
    <section class="flex items-center gap-3">
      <slot name="right-area"></slot>
    </section>
  </article>
</template>
