<script setup lang="ts">
import CustomButton from "@components/inputs/CustomButton.vue";
import GenericDialog from "@components/generics/GenericDialog.vue";

const props = defineProps<{
  isOpen: boolean;
}>();

const emits = defineEmits(["add", "close"]);
</script>

<template>
  <GenericDialog :is-open="props.isOpen" @close="emits('close')">
    <template #dialog-title>
      <slot name="dialog-title"></slot>
    </template>
    <template #dialog-description>
      <slot name="dialog-description"></slot>
    </template>
    <template #dialog-body>
      <slot name="dialog-body"></slot>
    </template>
    <template #dialog-buttons>
      <CustomButton @click="emits('add')"> Add </CustomButton>
      <CustomButton color="cancel" @click="emits('close')">
        Cancel
      </CustomButton>
    </template>
  </GenericDialog>
</template>
