<script setup lang="ts" generic="T">
import { ref, computed } from "vue";
import { onClickOutside } from "@vueuse/core";

import DropdownMenu from "@components/generics/DropdownMenu.vue";

const props = defineProps<{
  items: T[];
  checkedItems: T[];
}>();

const emits = defineEmits<{
  toggle: [item: T];
  showAll: [];
  hideAll: [];
}>();

const toggleAll = "All" as T;

const allVisible = computed(
  () => props.items.length === props.checkedItems.length
);

const items = computed(() => [toggleAll, ...props.items]);
const checkedItems = computed(() =>
  [allVisible.value ? toggleAll : null, ...props.checkedItems].filter((i) => i)
);

const toggle = (item: T) => {
  if (item === toggleAll) {
    allVisible.value ? emits("hideAll") : emits("showAll");
  } else {
    emits("toggle", item);
  }
};

const isChecked = (item: T) => checkedItems.value.includes(item);

const getIconColor = (checked: boolean, active: boolean) => {
  const baseColor = active ? "text-white" : "text-indigo-500";
  return checked ? baseColor : "text-white/30";
};

// open/close state
const open = ref(false);

// close the menu if we click outside of it
const target = ref(null);

onClickOutside(target, () => (open.value = false));
</script>

<template>
  <DropdownMenu
    :items="items"
    @activated="toggle"
    :static="true"
    :open="open"
    @click="open = !open"
    ref="target"
  >
    <template #menu-item="{ item, active }">
      <button
        class="group flex w-full items-center justify-between rounded-md px-2 py-2 text-sm capitalize"
        @click.stop
        :class="
          active
            ? 'bg-indigo-500 text-white'
            : 'text-slate-400 @dark:text-slate-200'
        "
      >
        <div
          class="i-fa6-solid-check"
          :class="getIconColor(isChecked(item), active)"
        ></div>
        {{ item }}
      </button>
    </template>
  </DropdownMenu>
</template>
