<script lang="ts" setup>
import GenericCard from "@components/generics/GenericCard.vue";

import type { Transfer } from "@/types";
import { computed } from "vue";

const props = defineProps<{
  transfer: Transfer;
}>();

const formattedDate = computed(() =>
  new Date(props.transfer.date).toLocaleString([], {
    dateStyle: "medium",
  })
);
</script>

<template>
  <GenericCard
    title=""
    :subtitle="formattedDate"
    description="Travel from/to:"
    :additional-info="[
      `From: ${props.transfer.startingLocation}`,
      `To: ${props.transfer.destinationLocation}`,
    ]"
  >
    <template #card-image>
      <div
        class="i-fa6-solid-road h-12 w-12 text-slate-500 @dark:text-slate-300"
      ></div>
    </template>
  </GenericCard>
</template>
