<script lang="ts" setup>
import GenericCard from "@components/generics/GenericCard.vue";

import type { User } from "@/types";

const props = defineProps<{
  user: User;
}>();
</script>

<template>
  <GenericCard :title="props.user.username" :subtitle="props.user.email">
    <template #card-image>
      <img :src="props.user.avatar" class="h-12 w-12 rounded-full" />
    </template>
  </GenericCard>
</template>
