<script lang="ts" setup>
import FuelIcon from "@components/icons/FuelIcon.vue";
import VehicleIcon from "@components/icons/VehicleIcon.vue";
import GenericCard from "@components/generics/GenericCard.vue";

import type { Vehicle } from "@/types";

const props = defineProps<{
  vehicle: Vehicle;
}>();

const emits = defineEmits(["delete", "edit", "show"]);
</script>

<template>
  <GenericCard
    :title="props.vehicle.manufacturer"
    :subtitle="props.vehicle.model"
    :description="props.vehicle.color"
    :additional-info="[
      `Vin: ${props.vehicle.vin}`,
      `Vrm: ${props.vehicle.vrm}`,
    ]"
    :show-edit="true"
    :show-delete="true"
    :show-show="true"
    @delete="emits('delete')"
    @edit="emits('edit')"
    @show="emits('show')"
  >
    <template #card-image>
      <VehicleIcon
        class="h-6 w-6 text-slate-500 @dark:text-slate-300"
        :type="props.vehicle.vehicleType"
      />
      <FuelIcon
        class="h-6 w-6 text-slate-500 @dark:text-slate-300"
        :fuel="props.vehicle.fuelType"
      />
    </template>
  </GenericCard>
</template>
