<script setup lang="ts">
import { useQueryClient } from "@tanstack/vue-query";
import { useSelf } from "@services/user";

import UserStatus from "@components/UserStatus.vue";
import UserLogin from "@components/UserLogin.vue";

const queryClient = useQueryClient();
const { user, login } = useSelf(queryClient);
</script>

<template>
  <UserStatus
    :is-loading="user.isLoading"
    :is-error="user.isError"
    :error="user.error"
    :username="user.data?.username"
  />
  <UserLogin
    :is-loading="login.isLoading"
    :is-error="login.isError"
    :error="login.error"
    :is-success="login.isSuccess"
    @do-login="login.mutate"
  />
</template>
