<script lang="ts" setup>
import { useQueryClient } from "@tanstack/vue-query";
import { useRouteParams } from "@vueuse/router";
import { computed, ref, toValue } from "vue";

import { useVehicle } from "@services/vehicles";
import { useTransfers } from "@services/transfer";
import { useUsers } from "@services/user";

import AddVehicleTransferDialog from "@components/dialogs/AddVehicleTransferDialog.vue";
import CustomButton from "@components/inputs/CustomButton.vue";
import TransfersList from "@components/TransfersList.vue";
import VehicleDetails from "@components/VehicleDetails.vue";

const id = useRouteParams("id", "", { transform: String });
const queryClient = useQueryClient();

const transferParams = computed(() => ({
  vehicle: toValue(id),
}));

const { vehicle } = useVehicle(id, queryClient);
const { transfers, addTransfer } = useTransfers(transferParams, queryClient);
const { users } = useUsers({}, queryClient);

// add vehicle transfer dialog
const isOpen = ref(false);

function addVehicleTransfer(date?: Date, user?: string) {
  if (!addTransfer.value.isLoading && date && user) {
    addTransfer.value.mutate({ vehicle: toValue(id), user, date });
    isOpen.value = false;
  }
}
</script>

<template>
  <div class="grid lg:grid-cols-2 gap-3">
    <section v-if="vehicle.isLoading">Loading...</section>
    <section v-else-if="vehicle.isError">Error: {{ vehicle.error }}</section>
    <VehicleDetails
      v-else-if="vehicle.data"
      :vehicle="vehicle.data"
    ></VehicleDetails>
    <section v-if="transfers.data">
      <h2 class="font-bold font-lg">Vehicle transfers:</h2>
      <TransfersList :transfers="transfers.data" />
      <CustomButton @click="isOpen = true">Add Transfer</CustomButton>
      <AddVehicleTransferDialog
        :users="users.data ?? []"
        :is-open="isOpen"
        @close="isOpen = false"
        @add="addVehicleTransfer"
      >
      </AddVehicleTransferDialog>
    </section>
  </div>
</template>
