<script setup lang="ts">
import { TabPanel } from "@headlessui/vue";
import { useQueryClient } from "@tanstack/vue-query";
import { computed, ref, toValue } from "vue";
import { useRouteQuery } from "@vueuse/router";
import { useRouter } from "vue-router";

import { useVehicles } from "@services/vehicles";

import AddVehicleDialog from "@components/dialogs/AddVehicleDialog.vue";
import CustomButton from "@components/inputs/CustomButton.vue";
import EditVehicleDialog from "@components/dialogs/EditVehicleDialog.vue";
import TabSwitcher from "@components/TabSwitcher.vue";
import VehiclesGrid from "@components/VehiclesGrid.vue";
import VehiclesList from "@components/VehiclesList.vue";
import VehiclesTable from "@components/VehiclesTable.vue";
import VehiclesQueryParams from "@components/VehiclesQueryParams.vue";

import type { Vehicle } from "@/types";

const queryClient = useQueryClient();
const router = useRouter();

// route params
const page = useRouteQuery("page", "0", { transform: Number });
const items = useRouteQuery("items", "10", { transform: Number });
const manufacturerFilter = useRouteQuery("manufacturer", "", {
  transform: String,
});
const modelFilter = useRouteQuery("model", "", {
  transform: String,
});
const orderBy = useRouteQuery("orderBy", "", { transform: String });

const vehiclesFilters = computed(() => ({
  page: toValue(page),
  items: toValue(items),
  manufacturer: toValue(manufacturerFilter),
  model: toValue(modelFilter),
  order: toValue(orderBy),
}));

// vehicles list
const { vehicles, counter, editVehicles, deleteVehicles, addVehicle } =
  useVehicles(vehiclesFilters, queryClient);

// mutations
function updateVehicle(vehicle?: Vehicle) {
  if (!editVehicles.value.isLoading && vehicle) {
    editVehicles.value.mutate([vehicle]);
    editVehicleVisible.value = false;
  }
}

function deleteVehiclesByIds(ids?: string[]) {
  if (!deleteVehicles.value.isLoading && ids && ids?.length > 0) {
    deleteVehicles.value.mutate(ids);
  }
}

function deleteVehicle(id?: string) {
  if (id) {
    deleteVehiclesByIds([id]);
  }
}

function addNewWhicle(manufacturer?: string, model?: string) {
  if (!addVehicle.value.isLoading && manufacturer && model) {
    addVehicle.value.mutate({ manufacturer, model });
    addVehicleVisible.value = false;
  }
}

function editVehicle(vehicle: Vehicle) {
  editVehicleVisible.value = true;
  vehicleToEdit.value = vehicle;
}

function showVehicle(id: string) {
  router.push({ name: "vehicle-detail", params: { id } });
}

const addVehicleVisible = ref(false);
const editVehicleVisible = ref(false);
const vehicleToEdit = ref<Vehicle>();
</script>

<template>
  <article>
    <VehiclesQueryParams
      query-name="Vehicles"
      v-model:page="page"
      v-model:items="items"
      v-model:manufacturer="manufacturerFilter"
      v-model:model="modelFilter"
      v-model:order="orderBy"
      :counter="counter.data"
      :loading="counter.isLoading"
    />
    <TabSwitcher :tabs="['table', 'list', 'grid']">
      <span v-if="vehicles.isLoading">Loading...</span>
      <template v-else>
        <TabPanel>
          <h2 class="text-lg mb-3">Table view</h2>
          <VehiclesTable
            :vehicles="vehicles.data ?? []"
            @update-vehicle="updateVehicle"
            @delete-vehicles="deleteVehiclesByIds"
          />
        </TabPanel>
        <TabPanel>
          <h2 class="text-lg mb-3">List view</h2>
          <VehiclesList
            :vehicles="vehicles.data ?? []"
            @edit-vehicle="editVehicle"
            @delete-vehicle="deleteVehicle"
            @show-vehicle="showVehicle"
          />
        </TabPanel>
        <TabPanel>
          <h2 class="text-lg mb-3">Grid view</h2>
          <VehiclesGrid
            :vehicles="vehicles.data ?? []"
            @edit-vehicle="editVehicle"
            @delete-vehicle="deleteVehicle"
            @show-vehicle="showVehicle"
          />
        </TabPanel>
      </template>
    </TabSwitcher>

    <CustomButton @click="addVehicleVisible = true"> Add </CustomButton>
  </article>
  <AddVehicleDialog
    :is-open="addVehicleVisible"
    @close="addVehicleVisible = false"
    @add="addNewWhicle"
  >
  </AddVehicleDialog>
  <EditVehicleDialog
    v-if="vehicleToEdit"
    :is-open="editVehicleVisible"
    :vehicle="vehicleToEdit"
    @close="editVehicleVisible = false"
    @edit="updateVehicle"
  >
  </EditVehicleDialog>
</template>
