<script setup lang="ts">
import { computed } from "vue";
import { range, getMinMaxValue } from "@helpers/math";
import CustomSelect from "@components/inputs/CustomSelect.vue";

const props = defineProps<{
  queryName: string;
  counter: number;
  loading: boolean;
}>();

const { page, items } = defineModels<{
  page: number;
  items: number;
}>();

const pageFormatted = computed({
  get: () => page.value + 1,
  set: (v: number) => (page.value = getMinMaxValue(v - 1, 0, limit.value)),
});

const limit = computed(() => Math.ceil(props.counter / items.value));
const pages = computed(() => range(1, limit.value));
const paginationOptions = computed(() =>
  range(10, Math.floor(props.counter / 10) * 10, 10)
);
</script>

<template>
  <div class="p-3">
    <h3>Query {{ props.queryName }} pagination</h3>
    <h4>Total items: {{ props.counter }}</h4>
    <div class="flex flex-wrap gap-3">
      <div class="flex items-center gap-3 w-full sm:max-w-40">
        <label>Page</label>
        <CustomSelect
          class="w-full"
          :options="pages"
          v-model.number="pageFormatted"
        />
      </div>
      <div class="flex items-center gap-3 w-full sm:max-w-40">
        <label>Items</label>
        <CustomSelect
          class="w-full"
          :options="paginationOptions"
          v-model.number="items"
        />
      </div>
    </div>
  </div>
</template>
