<script
  setup
  lang="ts"
  generic="TH extends { id: string }, TB extends { id: string }, TF extends { id: string }"
>
const props = defineProps<{
  headerRows: TH[];
  bodyRows: TB[];
  footerRows: TF[];
  activeIds?: string[];
}>();

defineSlots<{
  "header-row": (props: { row: TH }) => any;
  "table-row": (props: { row: TB }) => any;
  "footer-row": (props: { row: TF }) => any;
}>();
</script>

<template>
  <div class="overflow-x-auto">
    <table
      class="border-collapse table-auto w-full text-sm text-slate-400 @dark:text-slate-200"
    >
      <thead class="bg-slate-50 @dark:bg-slate-700">
        <tr
          class="border-slate-40 @dark:border-slate-600"
          v-for="row in props.headerRows"
          :key="row.id"
        >
          <slot name="header-row" :row="row" />
        </tr>
      </thead>
      <tbody
        class="bg-white text-slate-500 @dark:bg-slate-800 @dark:text-slate-400"
      >
        <tr
          class="hover:bg-slate-40 hover:border-slate-30 @dark:hover:bg-slate-600 @dark:hover:border-slate-500"
          v-for="row in props.bodyRows"
          :key="row.id"
          :class="
            props.activeIds?.includes(row.id)
              ? 'bg-slate-50 border-slate-40 @dark:bg-slate-700 @dark:border-slate-600'
              : 'border-slate-100 @dark:border-slate-700'
          "
        >
          <slot name="table-row" :row="row" />
        </tr>
      </tbody>
      <tfoot class="bg-slate-40 @dark:bg-slate-600">
        <tr v-for="row in props.footerRows" :key="row.id">
          <slot name="footer-row" :row="row" />
        </tr>
      </tfoot>
    </table>
  </div>
</template>
