<script lang="ts" setup>
import { computed } from "vue";
import { range } from "@helpers/math";

const props = defineProps<{
  currentPage: number;
  itemsPerPage: number;
  totalItems: number;
  canGoNext: boolean;
  canGoPrevious: boolean;
}>();

const emits = defineEmits<{
  "go-next": [];
  "go-prev": [];
  "go-page": [page: number];
}>();

const firstItem = computed(
  () => props.itemsPerPage * (props.currentPage - 1) + 1
);
const lastItem = computed(() => firstItem.value + props.itemsPerPage - 1);

const pages = computed(() =>
  range(1, Math.ceil(props.totalItems / props.itemsPerPage))
);
</script>

<template>
  <div
    class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6 @dark:bg-slate-800 @dark:border-slate-600"
  >
    <div
      v-if="props.canGoPrevious || props.canGoNext"
      class="flex flex-1 justify-between sm:hidden"
    >
      <button
        class="relative inline-flex items-center rounded-md border border-gray-300 px-4 py-2 text-sm font-medium text-gray-700 @dark:border-slate-600 @dark:text-slate-400"
        :class="
          props.canGoPrevious
            ? 'hover:bg-gray-50 @dark:hover:text-slate-200 @dark:hover:bg-slate-500'
            : 'opacity-50'
        "
        :disabled="!props.canGoPrevious"
        @click="emits('go-prev')"
      >
        Previous
      </button>
      <button
        class="relative inline-flex items-center rounded-md border border-gray-300 px-4 py-2 text-sm font-medium text-gray-700 @dark:border-slate-600 @dark:text-slate-400"
        :class="
          props.canGoNext
            ? 'hover:bg-gray-50 @dark:hover:text-slate-200 @dark:hover:bg-slate-500'
            : 'opacity-50'
        "
        :disabled="!props.canGoNext"
        @click="emits('go-next')"
      >
        Next
      </button>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700 @dark:text-slate-400">
          Showing
          <span class="font-medium">{{ firstItem }}</span>
          to
          <span class="font-medium">{{ lastItem }}</span>
          of
          <span class="font-medium">{{ props.totalItems }}</span>
          results
        </p>
      </div>
      <div v-if="props.canGoPrevious || props.canGoNext">
        <nav
          class="isolate inline-flex -space-x-px rounded-md shadow-sm"
          aria-label="Pagination"
        >
          <button
            class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 @dark:text-slate-400"
            :class="
              props.canGoPrevious
                ? 'hover:bg-gray-50 focus:z-20 focus:outline-offset-0 @dark:hover:text-slate-200 @dark:hover:bg-slate-700'
                : 'opacity-50'
            "
            :disabled="!props.canGoPrevious"
            @click="emits('go-prev')"
          >
            <span class="sr-only">Previous</span>
            <div class="i-fa6-solid-chevron-left h-5 w-5" aria-hidden="true" />
          </button>
          <button
            aria-current="page"
            class="relative inline-flex items-center px-4 py-2 text-sm font-semibold"
            :class="
              page === props.currentPage
                ? 'text-indigo-600 focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'
                : ' ring-gray-300 text-gray-700 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 @dark:text-slate-400 @dark:hover:text-slate-200 @dark:hover:bg-slate-700'
            "
            v-for="page in pages"
            :key="`page-${page}`"
            @click="emits('go-page', page - 1)"
          >
            {{ page }}
          </button>
          <button
            class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 @dark:text-slate-400"
            :class="
              props.canGoNext
                ? 'hover:bg-gray-50 focus:z-20 focus:outline-offset-0 @dark:hover:text-slate-200 @dark:hover:bg-slate-700'
                : 'opacity-50'
            "
            :disabled="!props.canGoNext"
            @click="emits('go-next')"
          >
            <span class="sr-only">Next</span>
            <div class="i-fa6-solid-chevron-right h-5 w-5" aria-hidden="true" />
          </button>
        </nav>
      </div>
    </div>
  </div>
</template>
