<script setup lang="ts">
import { TabGroup, TabList, Tab, TabPanels } from "@headlessui/vue";
const props = defineProps<{
  tabs: string[];
}>();
</script>

<template>
  <article class="w-full px-2 py-16 sm:px-0">
    <TabGroup>
      <TabList class="flex space-x-1 rounded-xl bg-indigo-900/20 p-1 max-w-md">
        <Tab
          as="template"
          v-for="tab in props.tabs"
          :key="tab"
          v-slot="{ selected }"
        >
          <button
            :class="[
              'capitalize w-full rounded-lg py-2.5 text-sm font-medium leading-5 text-indigo-700',
              'ring-white ring-opacity-60 ring-offset-2 ring-offset-indigo-400 focus:outline-none focus:ring-2 @dark:ring-slate-500',
              selected
                ? 'bg-white shadow @dark:bg-slate-500'
                : 'text-indigo-100 hover:bg-white/[0.12] @dark:hover:text-white',
            ]"
          >
            {{ tab }}
          </button>
        </Tab>
      </TabList>
      <TabPanels class="mt-2">
        <slot></slot>
      </TabPanels>
    </TabGroup>
  </article>
</template>
