<script setup lang="ts">
import TransferCard from "@components/cards/TransferCard.vue";
import GenericList from "@components/generics/GenericList.vue";

import type { Transfer } from "@/types";

const props = defineProps<{
  transfers: Transfer[];
}>();
</script>

<template>
  <GenericList :items="props.transfers">
    <template #list-item="{ item }">
      <TransferCard :transfer="item" />
    </template>
  </GenericList>
</template>
