<script setup lang="ts">
const props = defineProps<{
  isLoading: boolean;
  isError: boolean;
  error: Error | null;
  username?: string;
}>();
</script>

<template>
  <div v-if="props.isLoading">Loading...</div>
  <div v-else-if="props.isError && props.error">
    An error occurred: {{ props.error }}
  </div>
  <div v-else>{{ props.username }}</div>
</template>
