<script setup lang="ts">
const props = defineProps<{
  isLoading: boolean;
  isError: boolean;
  isSuccess: boolean;
  error: Error | null;
}>();

const emit = defineEmits(["doLogin"]);
</script>

<template>
  <div v-if="props.isLoading">Logging in...</div>
  <div v-else-if="props.isError && props.error">
    An error occurred: {{ props.error.message }}
  </div>
  <div v-else-if="props.isSuccess">Logged in!</div>
  <button @click="emit('doLogin')">Login</button>
</template>
