<script lang="ts" setup>
import GenericGrid from "@components/generics/GenericGrid.vue";
import VehicleCard from "@components/cards/VehicleCard.vue";

import type { Vehicle } from "@/types";

const props = defineProps<{
  vehicles: Vehicle[];
}>();

const emits = defineEmits<{
  "delete-vehicle": [id: string];
  "edit-vehicle": [vehicle: Vehicle];
  "show-vehicle": [id: string];
}>();
</script>

<template>
  <GenericGrid :items="props.vehicles">
    <template #grid-item="{ item }">
      <VehicleCard
        :vehicle="item"
        @delete="emits('delete-vehicle', item._id)"
        @edit="emits('edit-vehicle', item)"
        @show="emits('show-vehicle', item._id)"
      />
    </template>
  </GenericGrid>
</template>
