<script lang="ts" setup>
import VehicleCard from "@components/cards/VehicleCard.vue";
import GenericList from "@components/generics/GenericList.vue";

import type { Vehicle } from "@/types";

const props = defineProps<{
  vehicles: Vehicle[];
}>();

const emits = defineEmits<{
  "delete-vehicle": [id: string];
  "edit-vehicle": [vehicle: Vehicle];
  "show-vehicle": [id: string];
}>();
</script>

<template>
  <GenericList :items="props.vehicles">
    <template #list-item="{ item }">
      <VehicleCard
        :vehicle="item"
        @delete="emits('delete-vehicle', item._id)"
        @edit="emits('edit-vehicle', item)"
        @show="emits('show-vehicle', item._id)"
      />
    </template>
  </GenericList>
</template>
