<script setup lang="ts">
import { computed } from "vue";

import type { Vehicle } from "@/types";

const props = defineProps<{
  vehicle: Vehicle;
}>();

const details = computed(() => [
  { label: "Manufacturer", value: props.vehicle.manufacturer },
  { label: "Model", value: props.vehicle.model },
  { label: "Color", value: props.vehicle.color },
  { label: "Fuel Type", value: props.vehicle.fuelType },
  { label: "Vehicle Type", value: props.vehicle.vehicleType },
  { label: "Vin", value: props.vehicle.vin },
  { label: "Vrm", value: props.vehicle.vrm },
]);
</script>

<template>
  <article>
    <h2 class="font-bold font-lg">Vehicle Details</h2>
    <ul
      role="list"
      class="divide-y divide-gray-300 @dark:divide-slate-600 w-full max-w-200"
    >
      <li
        class="flex justify-between"
        v-for="item in details"
        :key="item.value"
      >
        <span> {{ item.label }}: </span>
        <span>
          {{ item.value }}
        </span>
      </li>
    </ul>
  </article>
</template>
