<script lang="ts" setup>
import { RadioGroup, RadioGroupOption } from "@headlessui/vue";

import QueryPaginator from "@components/QueryPaginator.vue";
import TextInput from "@components/inputs/TextInput.vue";

const props = defineProps<{
  counter?: number;
  loading?: boolean;
}>();

const { page, items, manufacturer, model, order } = defineModels<{
  page: number;
  items: number;
  manufacturer: string;
  model: string;
  order: string;
}>();

const orderOptions = ["model", "manufacturer", "color"];
</script>

<template>
  <QueryPaginator
    query-name="Vehicles"
    v-model:page="page"
    v-model:items="items"
    :counter="props.counter ?? 0"
    :loading="props.loading ?? false"
  />
  <section class="p-3">
    <h3 class="text-md mb-3">Filters</h3>
    <div class="flex flex-wrap gap-3">
      <div class="w-full sm:max-w-60">
        <TextInput v-model="manufacturer" placeholder="Manufacturer" />
      </div>
      <div class="w-full sm:max-w-60">
        <TextInput v-model="model" placeholder="Model" />
      </div>
    </div>
  </section>
  <section class="p-3">
    <h3 class="text-md mb-3">Order By</h3>
    <RadioGroup v-model="order">
      <RadioGroupOption
        class="flex gap-2 items-center"
        v-for="option in orderOptions"
        :key="option"
        v-slot="{ checked }"
        :value="option"
      >
        <div
          class="i-fa6-solid-circle-check hover:bg-blue-300"
          :class="checked ? 'bg-blue-200' : ''"
        ></div>
        {{ option }}
      </RadioGroupOption>
    </RadioGroup>
  </section>
</template>
