<script lang="ts" setup>
import { createColumnHelper } from "@tanstack/vue-table";
import DataTable from "./DataTable.vue";

import type { Vehicle } from "@/types";

const props = defineProps<{
  vehicles: Vehicle[];
}>();

const emits = defineEmits<{
  "update-vehicle": [vehicle: Vehicle];
  "delete-vehicles": [ids: string[]];
}>();

const columnHelper = createColumnHelper<Vehicle>();
const columns = [
  columnHelper.group({
    header: "Model",
    footer: (props) => props.column.id,
    columns: [
      columnHelper.accessor("manufacturer", {
        meta: {
          editable: true,
        },
      }),
      columnHelper.accessor("model", {
        meta: {
          editable: true,
        },
      }),
    ],
  }),
  columnHelper.group({
    header: "Details",
    footer: (props) => props.column.id,
    columns: [
      columnHelper.accessor("vehicleType", {
        meta: {
          sortable: true,
        },
      }),
      columnHelper.accessor("fuelType", {
        meta: {
          sortable: true,
        },
      }),
      columnHelper.accessor("color", {
        meta: {
          sortable: true,
          filterable: true,
        },
      }),
    ],
  }),
  columnHelper.group({
    header: "Serials",
    footer: (props) => props.column.id,
    columns: [
      columnHelper.accessor("vin", {
        meta: {
          filterable: true,
        },
      }),
      columnHelper.accessor("vrm", {
        meta: {
          filterable: true,
        },
      }),
    ],
  }),
];

const patchData = (index: number, field: string, value: string) => {
  const vehicle = {
    ...props.vehicles[index],
    [field]: value,
  };

  emits("update-vehicle", vehicle);
};

const deleteVehicles = (indexes: number[]) => {
  const ids = indexes.map((i) => props.vehicles[i]._id);
  emits("delete-vehicles", ids);
};
</script>

<template>
  <DataTable
    :columns="columns"
    :data="props.vehicles"
    :selectable="true"
    @update-row="patchData"
    @delete-rows="deleteVehicles"
  />
</template>
