<script lang="ts" setup>
import { computed } from "vue";

const props = defineProps<{
  fuel: string;
}>();

const icons = new Map([
  ["diesel", "i-fa6-solid-fire"],
  ["electric", "i-fa6-solid-bolt"],
  ["gasoline", "i-fa6-solid-gas-pump"],
  ["hybrid", "i-fa6-solid-helicopter-symbol"],
]);

const fuelIcon = computed(() => {
  const fuel = props.fuel.toLowerCase();
  if (icons.has(fuel)) {
    return icons.get(fuel);
  }
  return icons.get("gasoline");
});
</script>

<template>
  <div :class="fuelIcon" :title="props.fuel"></div>
</template>
