<script setup lang="ts">
import { computed } from "vue";

const props = defineProps<{
  direction: "asc" | "desc" | false;
}>();

const icon = computed(() => {
  if (!props.direction) {
    return "i-fa6-solid-sort";
  }

  return props.direction === "asc"
    ? "i-fa6-solid-arrow-up-short-wide"
    : "i-fa6-solid-arrow-down-wide-short";
});

const opacity = computed(() => (props.direction ? "" : "opacity-50"));
</script>

<template>
  <div :class="[icon, opacity]" class="transition"></div>
</template>
