<script lang="ts" setup>
import { computed } from "vue";

const props = defineProps<{
  type: string;
}>();

const icons = new Map([
  ["cargo van", "i-fa6-solid-motorcycle"],
  ["convertible", "i-fa6-solid-car-side"],
  ["coupe", "i-fa6-solid-car"],
  ["crew cab pickup", "i-fa6-solid-truck-pickup"],
  ["extended cab pickup", "i-fa6-solid-truck-monster"],
  ["hatchback", "i-fa6-solid-rocket"],
  ["minivan", "i-fa6-solid-truck"],
  ["passenger van", "i-fa6-solid-train"],
  ["suv", "i-fa6-solid-snowplow"],
  ["sedan", "i-fa6-solid-paper-plane"],
  ["wagon", "i-fa6-solid-bus"],
]);

const typeIcon = computed(() => {
  const type = props.type.toLowerCase();
  if (icons.has(type)) {
    return icons.get(type);
  }
  return icons.get("wagon");
});
</script>

<template>
  <div :class="typeIcon" :title="props.type"></div>
</template>
