<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import { useIsFetching } from "@tanstack/vue-query";

const isFetching = useIsFetching();
</script>

<template>
  <main>
    <RouterView />
  </main>
  <nav>
    <RouterLink :to="{ name: 'home' }">Home</RouterLink>
    <RouterLink :to="{ name: 'user' }">User</RouterLink>
    <RouterLink :to="{ name: 'vehicles' }">Vehicles</RouterLink>
  </nav>
  <div v-if="isFetching" class="fixed bottom-3 right-3 z-1 text-6">
    <div
      class="i-svg-spinners-gooey-balls-1 bg-dark-700 @dark:bg-light-700"
    ></div>
  </div>
</template>

<style scoped>
nav {
  width: 100%;
  font-size: 0.5rem;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
