<script setup lang="ts">
import { ref, watch, toRef } from "vue";

import GenericAddDialog from "@components/generics/GenericAddDialog.vue";
import TextInput from "@components/inputs/TextInput.vue";

const props = defineProps<{
  isOpen: boolean;
}>();

const emits = defineEmits<{
  add: [manufacturer: string, model: string];
  close: [];
}>();

const manufacturer = ref("");
const model = ref("");

function resetData() {
  manufacturer.value = "";
  model.value = "";
}

watch(
  toRef(() => props.isOpen),
  resetData
);
</script>

<template>
  <GenericAddDialog
    :is-open="props.isOpen"
    @add="emits('add', manufacturer, model)"
    @close="emits('close')"
  >
    <template #dialog-title>Add Vehicle</template>
    <template #dialog-description>
      <p>Add a new vehicle.</p>
      <p>for this POC you can setup only manufacturer and model.</p>
    </template>
    <template #dialog-body>
      <TextInput v-model="manufacturer" placeholder="Manufacturer" />
      <TextInput v-model="model" placeholder="Model" />
    </template>
  </GenericAddDialog>
</template>
