<script setup lang="ts">
import { computed, ref, watch, toRef } from "vue";

import GenericAddDialog from "@components/generics/GenericAddDialog.vue";
import CustomSelect from "@components/inputs/CustomSelect.vue";
import TextInput from "@components/inputs/TextInput.vue";

import type { User } from "@/types";

interface SelectItem {
  value: string;
  label: string;
}

const props = defineProps<{
  isOpen: boolean;
  users: User[];
}>();

const emits = defineEmits<{
  add: [date: Date, user: string];
  close: [];
}>();

// date
const dateModel = ref("");
const date = computed(() => new Date(dateModel.value));

// users

const toSelectItem = (user?: User, placeholder = ""): SelectItem => ({
  value: user?._id ?? "",
  label: user?.username ?? placeholder,
});

// selected user uuid
const user = ref("");

const selectedUser = computed(() =>
  props.users.find((u) => u._id === user.value)
);

// computed getter/setter to pass at the select component
const userModel = computed({
  get: () => toSelectItem(selectedUser.value, "Choose a user..."),
  set: (selected: SelectItem) => (user.value = selected.value),
});

const userOptions = computed(() => props.users.map((u) => toSelectItem(u)));

function resetData() {
  dateModel.value = "";
  user.value = "";
}

watch(
  toRef(() => props.isOpen),
  resetData
);
</script>

<template>
  <GenericAddDialog
    :is-open="props.isOpen"
    @add="emits('add', date, user)"
    @close="emits('close')"
  >
    <template #dialog-title>Add Vehicle Transfer</template>
    <template #dialog-description>
      <p>Add a new transfer.</p>
      <p>for this POC you can setup only the user and date.</p>
    </template>
    <template #dialog-body>
      <CustomSelect
        :options="userOptions"
        v-model="userModel"
        placeholder="User"
      ></CustomSelect>
      <TextInput v-model="dateModel" placeholder="Date" type="date"></TextInput>
    </template>
  </GenericAddDialog>
</template>
