<script setup lang="ts">
import { ref, watch, toRef } from "vue";

import TextInput from "@components/inputs/TextInput.vue";
import GenericEditDialog from "@components/generics/GenericEditDialog.vue";

import type { Vehicle } from "@/types";

const props = defineProps<{
  isOpen: boolean;
  vehicle: Vehicle;
}>();

const emits = defineEmits<{
  edit: [vehicle: Vehicle];
  close: [];
}>();

const localVehicle = ref<Vehicle>({ ...props.vehicle });

function resetData() {
  localVehicle.value = { ...props.vehicle };
}

watch(
  toRef(() => props.isOpen),
  resetData
);
</script>

<template>
  <GenericEditDialog
    :is-open="props.isOpen"
    @edit="emits('edit', localVehicle)"
    @close="emits('close')"
  >
    <template #dialog-title>Edit Vehicle</template>
    <template #dialog-description>
      <p>Edit a vehicle.</p>
      <p>for this POC you can edit only manufacturer and model.</p>
    </template>
    <template #dialog-body>
      <TextInput
        v-model="localVehicle.manufacturer"
        placeholder="Manufacturer"
      />
      <TextInput v-model="localVehicle.model" placeholder="Model" />
    </template>
  </GenericEditDialog>
</template>
